
{% include '@families_change/include/header.html.twig' %}

<section class="full-width landing-page-content">
    <div id="landing-top-page">
        <div  class="column landing-main-content">
            
            <div class="landing-page-section">{{ page.content }}</div>
        </div>
    </div>
</section>

{% include '@families_change/include/footer.html.twig' %}