#
# Apache/PHP/Drupal settings:
#

# Protect files and directories from prying eyes.
<FilesMatch "\.(engine|inc|install|make|module|profile|po|sh|.*sql|theme|twig|tpl(\.php)?|xtmpl|yml)(~|\.sw[op]|\.bak|\.orig|\.save)?$|^(\.(?!well-known).*|Entries.*|Repository|Root|Tag|Template|composer\.(json|lock)|web\.config|yarn\.lock|package\.json)$|^#.*#$|\.php(~|\.sw[op]|\.bak|\.orig|\.save)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
  </IfModule>
</FilesMatch>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Set the default handler.
DirectoryIndex index.php index.html index.htm

# Add correct encoding for SVGZ.
AddType image/svg+xml svg svgz
AddEncoding gzip svgz

# Most of the following PHP settings cannot be changed at runtime. See
# sites/default/default.settings.php and
# Drupal\Core\DrupalKernel::bootEnvironment() for settings that can be
# changed at runtime.
<IfModule mod_php.c>
  php_value assert.active                   0
</IfModule>

# Requires mod_expires to be enabled.
<IfModule mod_expires.c>
  # Enable expirations.
  ExpiresActive On

  # Cache all files for 1 year after access.
  ExpiresDefault "access plus 1 year"

  <FilesMatch \.php$>
    # Do not allow PHP scripts to be cached unless they explicitly send cache
    # headers themselves. Otherwise all scripts would have to overwrite the
    # headers set by mod_expires if they want another caching behavior. This may
    # fail if an error occurs early in the bootstrap process, and it may cause
    # problems if a non-Drupal PHP file is installed in a subdirectory.
    ExpiresActive Off
  </FilesMatch>
</IfModule>

# Set a fallback resource if mod_rewrite is not enabled. This allows Drupal to
# work without clean URLs. This requires Apache version >= 2.2.16. If Drupal is
# not accessed by the top level URL (i.e.: http://example.com/drupal/ instead of
# http://example.com/), the path to index.php will need to be adjusted.
<IfModule !mod_rewrite.c>
  FallbackResource /index.php
</IfModule>

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on

  # Set "protossl" to "s" if we were accessed via https://.  This is used later
  # if you enable "www." stripping or enforcement, in order to ensure that
  # you don't bounce between http and https.
  RewriteRule ^ - [E=protossl]
  RewriteCond %{HTTPS} on
  RewriteRule ^ - [E=protossl:s]

  # Make sure Authorization HTTP header is available to PHP
  # even when running as CGI or FastCGI.
  RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # Block access to "hidden" directories whose names begin with a period. This
  # includes directories used by version control systems such as Subversion or
  # Git to store control files. Files whose names begin with a period, as well
  # as the control files used by CVS, are protected by the FilesMatch directive
  # above.
  #
  # NOTE: This only works when mod_rewrite is loaded. Without mod_rewrite, it is
  # not possible to block access to entire directories from .htaccess because
  # <DirectoryMatch> is not allowed here.
  #
  # If you do not have mod_rewrite installed, you should remove these
  # directories from your webroot or otherwise protect them from being
  # downloaded.
  RewriteRule "/\.|^\.(?!well-known/)" - [F]

  # If your site can be accessed both with and without the 'www.' prefix, you
  # can use one of the following settings to redirect users to your preferred
  # URL, either WITH or WITHOUT the 'www.' prefix. Choose ONLY one option:
  #
  # To redirect all users to access the site WITH the 'www.' prefix,
  # (http://example.com/foo will be redirected to http://www.example.com/foo)
  # uncomment the following:
  # RewriteCond %{HTTP_HOST} .
  # RewriteCond %{HTTP_HOST} !^www\. [NC]
  # RewriteRule ^ http%{ENV:protossl}://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  #
  # To redirect all users to access the site WITHOUT the 'www.' prefix,
  # (http://www.example.com/foo will be redirected to http://example.com/foo)
  # uncomment the following:
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]

  # Modify the RewriteBase if you are using Drupal in a subdirectory or in a
  # VirtualDocumentRoot and the rewrite rules are not working properly.
  # For example if your site is at http://example.com/drupal uncomment and
  # modify the following line:
  # RewriteBase /drupal
  #
  # If your site is running in a VirtualDocumentRoot at http://example.com/,
  # uncomment the following line:
  # RewriteBase /

  # Redirect common PHP files to their new locations.
  RewriteCond %{REQUEST_URI} ^(.*)?/(install\.php) [OR]
  RewriteCond %{REQUEST_URI} ^(.*)?/(rebuild\.php)
  RewriteCond %{REQUEST_URI} !core
  RewriteRule ^ %1/core/%2 [L,QSA,R=301]

  # Rewrite install.php during installation to see if mod_rewrite is working
  RewriteRule ^core/install\.php core/install.php?rewrite=ok [QSA,L]

  # Redirects for familieschange.ca based on migration list
  
  # Handle wildcard domain redirects - these should be processed before the specific path redirects
  RewriteCond %{HTTP_HOST} !^familieschange\.ca$ [NC]
  RewriteCond %{HTTP_HOST} \.familieschange\.ca$ [NC]
  RewriteRule ^en(.*)$ https://familieschange.ca/en$1 [L,R=301]
  
  RewriteCond %{HTTP_HOST} !^familieschange\.ca$ [NC]
  RewriteCond %{HTTP_HOST} \.familieschange\.ca$ [NC]
  RewriteRule ^fr(.*)$ https://familieschange.ca/fr$1 [L,R=301]
  
  # English - General redirects
  RewriteRule ^en$ / [L,R=301]
  RewriteRule ^en/acknowledgments$ /node/317 [L,R=301]
  RewriteRule ^en/content/home$ /en [L,R=301]
  RewriteRule ^en/content/notice$ /en [L,R=301]
  RewriteRule ^en/disclaimer$ /en [L,R=301]
  
  # English - Parents section redirects
  RewriteRule ^en/parents$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/answer-their-questions$ /en/parents/dealing-change [L,R=301]
  RewriteRule ^en/parents/are-there-exceptions-how-much-parent-has-pay$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/changed-behaviour-and-acting-out$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/child-support$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/childrens-rights-and-responsibilities$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/coping-strategies-children$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/creating-feeling-friendly-environment$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/dealing-abuse-home$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/dealing-change$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/explaining-why-parents-separate-or-divorce$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/feelings-and-emotions$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/having-discussion-and-problem-solving$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/helping-children-adjust-change$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/how-do-we-calculate-amount-child-support$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/how-help-your-children-deal-their-feelings$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/how-long-adjustment-may-take$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/identifying-feelings$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/keeping-kids-out-conflict$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/keeping-lines-communication-open$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/living-arrangements$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/maintaining-your-focus$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/new-lifestyle$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/parenting-strategies$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/parents-responsibilities$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/positive-change$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/publications$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/resources$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/responding-childrens-questions$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/talking-about-law-around-kids$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/talking-teachers-coaches-and-extended-family$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/telling-children$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/what-changes-expect$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/what-child-support$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/what-if-our-situation-changes$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/what-if-we-dont-agree-amount-child-support$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/what-you-should-not-say$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/what-you-should-say$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/what-your-children-may-be-feeling$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/where-can-we-get-more-help$ /en/parents/parent-guide [L,R=301]
  RewriteRule ^en/parents/who-should-tell-children-and-where$ /en/parents/parent-guide [L,R=301]
  
  # English - Teens section redirects
  RewriteRule ^en/teens/abuse-home$ /en/teens [L,R=301]
  RewriteRule ^en/teens/acting-out$ /en/teens [L,R=301]
  RewriteRule ^en/teens/anger$ /en/teens [L,R=301]
  RewriteRule ^en/teens/anxiety$ /en/teens [L,R=301]
  RewriteRule ^en/teens/caught-middle$ /en/teens [L,R=301]
  RewriteRule ^en/teens/changes$ /en/teens [L,R=301]
  RewriteRule ^en/teens/common-law-parents$ /en/teens [L,R=301]
  RewriteRule ^en/teens/confusion$ /en/teens [L,R=301]
  RewriteRule ^en/teens/court$ /en/teens [L,R=301]
  RewriteRule ^en/teens/custody-and-access$ /en/teens [L,R=301]
  RewriteRule ^en/teens/dealing-it$ /en/teens [L,R=301]
  RewriteRule ^en/teens/decisions$ /en/teens [L,R=301]
  RewriteRule ^en/teens/divorce$ /en/teens [L,R=301]
  RewriteRule ^en/teens/embarrassment$ /en/teens [L,R=301]
  RewriteRule ^en/teens/emotions$ /en/teens [L,R=301]
  RewriteRule ^en/teens/faq$ /en/teens [L,R=301]
  RewriteRule ^en/teens/feeling-better$ /en/teens [L,R=301]
  RewriteRule ^en/teens/getting-your-life$ /en/teens [L,R=301]
  RewriteRule ^en/teens/guilt$ /en/teens [L,R=301]
  RewriteRule ^en/teens/healthy-and-abusive-relationships$ /en/teens [L,R=301]
  RewriteRule ^en/teens/help-lines$ /en/teens [L,R=301]
  RewriteRule ^en/teens/hope$ /en/teens [L,R=301]
  RewriteRule ^en/teens/how-you-feel$ /en/teens [L,R=301]
  RewriteRule ^en/teens/its-not-your-fault$ /en/teens [L,R=301]
  RewriteRule ^en/teens/key-words$ /en/teens [L,R=301]
  RewriteRule ^en/teens/law$ /en/teens [L,R=301]
  RewriteRule ^en/teens/mediation$ /en/teens [L,R=301]
  RewriteRule ^en/teens/more-resources$ /en/teens [L,R=301]
  RewriteRule ^en/teens/people$ /en/teens [L,R=301]
  RewriteRule ^en/teens/relief$ /en/teens [L,R=301]
  RewriteRule ^en/teens/resources$ /en/teens [L,R=301]
  RewriteRule ^en/teens/rights-and-responsibilities$ /en/teens [L,R=301]
  RewriteRule ^en/teens/sadness$ /en/teens [L,R=301]
  RewriteRule ^en/teens/separation$ /en/teens [L,R=301]
  RewriteRule ^en/teens/shock$ /en/teens [L,R=301]
  RewriteRule ^en/teens/site-info$ /en/teens [L,R=301]
  RewriteRule ^en/teens/speak$ /en/teens [L,R=301]
  RewriteRule ^en/teens/still-your-family$ /en/teens [L,R=301]
  RewriteRule ^en/teens/strategies$ /en/teens [L,R=301]
  RewriteRule ^en/teens/what$ /en/teens [L,R=301]
  RewriteRule ^en/teens/what-might-change$ /en/teens [L,R=301]
  RewriteRule ^en/teens/what-wont-change$ /en/teens [L,R=301]
  RewriteRule ^en/teens/whats-happening$ /en/teens [L,R=301]
  RewriteRule ^en/teens/when-get-help$ /en/teens [L,R=301]
  RewriteRule ^en/teens/why-its-happening$ /en/teens [L,R=301]
  
  # English - Kids section redirects
  RewriteRule ^en/kids$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/changes$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/changeville$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/feelings$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/help$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/intro$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/law$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/law/court$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/law/custody$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/law/decisions$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/law/divorce$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/law/mediation$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/law/separation$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/tools$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/tools/dealing$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/tools/dont$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/tools/hurt$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/tools/rights$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/tools/speakup$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/tools/unstuck$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids/why$ https://kids.familieschange.ca [L,R=301]
  RewriteRule ^en/kids_flash/index\.htm$ https://kids.familieschange.ca [L,R=301]
  
  # French - General redirects
  RewriteRule ^fr/content/notice$ /fr [L,R=301]
  RewriteRule ^fr/acknowledgments$ /fr/default/remerciements [L,R=301]
  RewriteRule ^fr/disclaimer$ /fr/default/avis-de-non-responsabilite [L,R=301]
  
  # French - Parents section redirects
  RewriteRule ^fr/parents$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/aider-les-enfants-a-sadapter-au-changement$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/ce-quil-faut-dire$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/ce-quil-ne-faut-pas-dire$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/comment-aider-vos-enfants-a-gerer-leurs-emotions$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/comment-calculer-le-montant-de-la-pension-alimentaire-pour-enfants$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/comportements-et-agissements-inhabituels$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/creer-un-milieu-ouvert-aux-emotions$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/determiner-les-emotions$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/discuter-et-resoudre-les-problemes$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/et-si-lon-est-en-desaccord-quant-au-montant-de-la-pension-alimentaire-pour-enfants$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/existe-t-il-des-exceptions-pour-le-montant-quun-parent-doit-payer$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/expliquer-pourquoi-les-parents-se-separent-ou-divorcent$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/faire-face-a-la-violence-a-la-maison$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/faire-face-au-changement$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/garder-les-enfants-en-dehors-des-conflits$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/garder-son-objectivite$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/guide$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/guide-de-parents$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/lannoncer-aux-enfants$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/le-temps-dadaptation-au-changement$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/les-changements-a-prevoir$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/les-changements-positifs$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/les-droits-et-responsabilites-des-enfants$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/les-emotions-que-vos-enfants-peuvent-ressentir$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/les-responsabilites-des-parents$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/maintenir-une-bonne-communication$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/modalites-de-residence$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/ou-peut-on-obtenir-de-laide-supplementaire$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/parler-aux-enseignants-aux-entraineurs-et-a-la-famille-elargie$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/parler-de-la-loi-en-presence-des-enfants$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/pension-alimentaire-pour-enfants$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/publications$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/quarrive-t-il-si-la-situation-change$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/quest-ce-que-la-pension-alimentaire-pour-enfants$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/qui-doit-parler-aux-enfants-et-ou$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/repondez-a-leurs-questions$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/repondre-aux-questions-des-enfants$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/ressources$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/sentiments-et-emotions$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/strategies-dadaptation-pour-les-enfants$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/strategies-parentales$ /fr/parents/parent-guide [L,R=301]
  RewriteRule ^fr/parents/un-nouveau-mode-de-vie$ /fr/parents/parent-guide [L,R=301]
  
  # French - Teens section redirects
  RewriteRule ^fr/ados$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/anxiete$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/autres-ressources$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/ce-nest-pas-votre-faute$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/ce-qui-arrive$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/ce-qui-ne-changera-pas$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/ce-qui-peut-changer$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/changements$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/choc$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/colere$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/comment-vous-vous-sentez$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/confusion$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/continuer-a-vivre-votre-vie$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/culpabilite$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/decisions$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/divorce$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/droits-et-responsabilites$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/emotions$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/espoir$ /fr/teens [L,R=301]
  RewriteRule ^fr/ados/faq$ /fr/teens [L,R=301]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^ index.php [L]

  # For security reasons, deny access to other PHP files on public sites.
  # Note: The following URI conditions are not anchored at the start (^),
  # because Drupal may be located in a subdirectory. To further improve
  # security, you can replace '!/' with '!^/'.
  # Allow access to PHP files in /core (like authorize.php or install.php):
  RewriteCond %{REQUEST_URI} !/core/[^/]*\.php$
  # Allow access to test-specific PHP files:
  RewriteCond %{REQUEST_URI} !/core/modules/system/tests/https?\.php
  # Allow access to Statistics module's custom front controller.
  # Copy and adapt this rule to directly execute PHP files in contributed or
  # custom modules or to run another PHP application in the same directory.
  RewriteCond %{REQUEST_URI} !/core/modules/statistics/statistics\.php$
  # Deny access to any other PHP files that do not match the rules above.
  # Specifically, disallow autoload.php from being served directly.
  RewriteRule "^(.+/.*|autoload)\.php($|/)" - [F]

  # Rules to correctly serve gzip compressed CSS and JS files.
  # Requires both mod_rewrite and mod_headers to be enabled.
  <IfModule mod_headers.c>
    # Serve gzip compressed CSS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*css_[a-zA-Z0-9-_]+)\.css$ $1\.css\.gz [QSA]

    # Serve gzip compressed JS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*js_[a-zA-Z0-9-_]+)\.js$ $1\.js\.gz [QSA]

    # Serve correct content types, and prevent double compression.
    RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1,E=no-brotli:1]
    RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1,E=no-brotli:1]

    <FilesMatch "(\.js\.gz|\.css\.gz)$">
      # Serve correct encoding type.
      Header set Content-Encoding gzip
      # Force proxies to cache gzipped & non-gzipped css/js files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>
  </IfModule>
</IfModule>

# Various header fixes.
<IfModule mod_headers.c>
  # Disable content sniffing for all responses, since it's an attack vector.
  # This header is also set in FinishResponseSubscriber, which depending on
  # Apache configuration might get placed in the 'onsuccess' table. To prevent
  # header duplication, unset that one prior to setting in the 'always' table.
  # See "To circumvent this limitation..." in
  # https://httpd.apache.org/docs/current/mod/mod_headers.html.
  Header onsuccess unset X-Content-Type-Options
  Header always set X-Content-Type-Options nosniff
  # Disable Proxy header, since it's an attack vector.
  RequestHeader unset Proxy
</IfModule>
