
<header class="header-section">
  <div class="container-fluid p-0">
    <div class="row g-2 g-md-0">
        <div class="col-sm-3 site-brand"> 
            {{ page.site_brand }}
            <div class="kid-slogan">{{ page.slogan }}</div>
        </div>      
      <div class="col-sm-9 top-menu">{{ page.kid_navigation }}</div>      
    </div>
  </div>
</header>
